{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Flask-index {% endblock %}

{% block page_content %}
<div class="page-header">
    {% if current_user.is_authenticated %}
    <h1>Hello,{{current_user.username}}!</h1>
    {% else %}
    <h1>Hello,Stranger. This is the home page!</h1>
    {% endif %}
</div>
{% if current_user.is_authenticated %}
{% if current_user.can(Permission.WRITE_ARTICLES) %}
{{ wtf.quick_form(form) }}
{% endif %}
{% endif %}
{% include "_posts.html" %}
{% endblock %}